parameters:
  level: 9

  # Doesn't work properly when extending WP core classes.
  checkGenericClassInNonGenericObjectType: false

  paths:
    - .

  bootstrapFiles:
    - constants.php

  excludePaths:
    - ./vendor/
    - ./node_modules/
    - ./tests/

  ignoreErrors:
    - # $args is always passed
      message: '#Variable \$args might not be defined.#'
      path: templates/blocks/*
