parameters:
  level: 9

  paths:
    - .

  bootstrapFiles:
    - constants.php

  excludePaths:
    - ./vendor/
    - ./node_modules/ (?)

  ignoreErrors:
    - # $args is always passed
      message: '#Variable \$args might not be defined.#'
      path: templates/blocks/*

    - # Can't easily scan BP
      message: '#Function (bp_loggedin_user_id|bp_core_get_user_displayname|bp_core_get_user_domain) not found.#'

    - # Can't correct this through library
      message: '#Method ([^ ]+) has parameter ([^ ]+) with no value type specified in iterable type array.#'
      path: classes/Import/Importer.php

    - # Can't correct this through library
      message: '#Method ([^ ]+) return type has no value type specified in iterable type array.#'
      path: classes/Import/Importer.php
