parameters:
  level: 9

  # Doesn't work properly when extending WP core classes.
  checkGenericClassInNonGenericObjectType: false

  paths:
    - .

  bootstrapFiles:
    - constants.php

  excludePaths:
    - ./vendor/
    - ./node_modules/
    - ./tests/
