.wp-block-openlab-modules-module-list {
	h2 {
		font-size: 1.4em;
		margin-bottom: .5em;
	}

	.module-description {
		p:last-child {
			margin-bottom: 0;
		}
	}

	.module-author {
		font-size: .9em;
	}

	.openlab-modules-module-list li {
		margin-bottom: 2em;
	}

	/* Base layout */
	.openlab-modules-module-list {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.image-ratio-box {
	  aspect-ratio: 4 / 3; /* or 16 / 9 */
	  width: 100%;
	  overflow: hidden;
	  position: relative;
	}

	.image-ratio-box img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  position: absolute;
	  top: 0;
	  left: 0;
	}

	/* === Text List === */
	.module-list-item {
		background: url('./bullet.svg') no-repeat left top;
		background-size: auto 30px;
		display: block;
		padding-bottom: 1rem;
		padding-left: 50px;
	}

	h2 {
		margin-top: 0;
	}

	.module-list-item-image {
		display: none;
	}

	/* === Image List === */
	&.is-style-image-list {
		&.has-card-background-color {
			.module-list-item {
				background-color: var(--card-background-color);
				border-radius: 10px 10px 70px 10px;
			}
		}

		.module-list-item {
			background: none;
			display: flex;
			gap: 1rem;
			align-items: flex-start;
			padding: 0;
		}

		.module-list-item-info {
			padding: 1.5rem;
		}

		.module-list-item-image {
			display: block;
			width: 150px;
			flex-shrink: 0;
		}

		.module-list-item-image img {
			object-fit: cover;
			display: block;
		}
	}

	/* === Image Grid === */
	&.is-style-image-grid {
		&.has-card-background-color {
			.module-list-item {
				background-color: var(--card-background-color);
				border-radius: 10px 10px 70px 10px;
				padding: 1.5rem;
			}
		}

		.openlab-modules-module-list {
			background: none;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			gap: 1.5rem;
			padding: 0;
		}

		.module-list-item {
			display: flex;
			flex-direction: column;
		}

		.module-list-item-image img {
			display: block;
			object-fit: cover;
			display: block;
		}
	}
}
