.wp-block-openlab-modules-module-list {
	h2 {
		margin-bottom: .5em;
	}

	.module-description {
		p:last-child {
			margin-bottom: 0;
		}
	}

	.openlab-modules-module-list li {
		margin-bottom: 2em;
	}
}
