@import './block.scss';

.wp-block-openlab-modules-module-list {
	.openlab-modules-module-list {
		a {
			pointer-events: none;
		}
	}
}

.edit-post-visual-editor .wp-block-openlab-modules-module-list ul:not(.wp-block-gallery) li {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-openlab-modules-module-list h2 {
	margin-bottom: .5em;
	margin-top: .5em;
}

.editor-styles-wrapper {
	.wp-block-openlab-modules-module-list {
		button {
			cursor: grab;

			&:active {
				cursor: grabbing;
			}
		}
	}
}
