.wp-block-openlab-modules-module-navigation {
	padding: 20px;
	border: 2px solid #eee;
	border-radius: 2px;
	margin-bottom: 1em;

	h2.openlab-modules-module-navigation-heading {
		font-size: 1em;

		a {
			font-weight: 700;
		}
	}

	li.is-current {
		font-weight: bold;
		pointer-events: none;

		a {
			text-decoration: none;
		}
	}
}
