@use './block';

.wp-block-openlab-modules-module-navigation {
	ul.openlab-modules-module-navigation-list {
		pointer-events: none;
		padding-left: 20px !important;
	}
}

.openlab-modules-gloss {
	opacity: .7;
	font-style: italic;
}

.module-page-has-non-publish-status {
	color: #f00;
	opacity: .7;

	a {
		color: #f00;
	}
}

.module-page-status {
	border-radius: 2px;
	display: inline-block;
	margin-left: 8px;
	font-size: .8em;
	font-style: italic;
}

.components-panel__body {
  transition: background-color 1s;
}

.components-panel__body.highlight {
  background-color: yellow;
}

.add-a-page-link {
	background: none;
	border: none;
	text-decoration: underline;
	padding: none;
	cursor: pointer;
	&:before {
		content: '+';
	}

	&:hover {
		text-decoration: none;
	}
}
