.sortable-multi-select {
	width: 100%;
}

.sortable-multi-select-selected-items {
	margin-top: 10px;
}

.sortable-multi-select-item {
	align-items: center;
	border: 1px solid #f1f1f1;
	border-radius: 2px;
    background-color: #f7f7f7;
	margin-bottom: 5px;
	padding: 6px 12px 6px 6px;
	width: 100%;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.sortable-multi-select-item-hover {
	border-color: #333;
}

.sortable-multi-select-item-handle {
	cursor: move;
	font-weight: 700;
	width: 100%;
}

.gutenberg-post-picker {
	width: 100%;

	label {
		overflow: hidden;
		clip: rect (1px, 1px, 1px, 1px);
		clip-path: inset (50%);
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		border: 0;
		word-wrap: normal;
	}

	input {
		width: 100%;
	}

	button.components-button {
		align-items: flex-start;
		height: auto;
		text-align: left;
		padding-bottom: 8px;
		padding-top: 12px;
	}

	.block-editor-link-control__search-item .block-editor-link-control__search-item-title {
		font-size: 1.1em;
		line-height: 1.2em;
		margin-bottom: .3em;
	}

	.block-editor-link-control__search-item-info {
		opacity: .7;
	}

	.block-editor-link-control__search-item-type {
		background: #f1f1f1;
		padding: 2px 8px 4px;
	}
}
