.sortable-multi-select {
	width: 100%;
}

.sortable-multi-select-selected-items {
	margin-top: 10px;
}

.sortable-multi-select-item {
	align-items: center;
	border: 1px solid #f1f1f1;
	border-radius: 2px;
    background-color: #f7f7f7;
	margin-bottom: 5px;
	padding: 6px 12px 6px 6px;
	width: 100%;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.sortable-multi-select-item-hover {
	border-color: #333;
}

.sortable-multi-select-item-handle {
	cursor: move;
	font-weight: 700;
	width: 100%;
}
