.add-mode-toggle {
	align-items: flex-end;
	display: flex;
	width: 100%;
	justify-content: space-between;

	.add-mode-cancel {
		color: #aaa;
		cursor: pointer;
	}
}

.add-mode-text-field {
	width: 100%;
}

.openlab-modules-add-page-to-module {
	.progress-spinner {
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid #fff;
		border-top-color: transparent;
		animation: spin 1s infinite linear;
	}

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
}

.module-page-non-publish-inline-status {
	color: #cc1818;
	display: inline-block;
	margin-left: 6px;
}
