.module-pagination {
	display: flex;
	gap: 16px;
	justify-content: space-between;
	margin-top: 48px;

	.module-pagination-side {
		flex: 1 0 50%;
	}

	.module-pagination-next {
		text-align: right;
	}
}
